@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

$bg-color: #fffbf5;
$font-color: #674188;
$box-border: #c3acd0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bg-color;
  color: $font-color;
}
