@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

$bg-color: #fffbf5;
$font-color: #674188;
$box-border: #c3acd0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bg-color;
  color: $font-color;
}

.main {
  font-family: "Dovemayo_gothic";
  height: 100vh;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
}

// header
.header {
  text-align: center;
  padding: 0.5em 0;
  margin-bottom: 5em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

// home
.home-box {
  border: 1px solid $box-border;
  border-radius: 5px;
  margin-bottom: 2em;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation-name: move;
  animation-delay: 2s;
  &:hover {
    box-shadow: 0 0 10px;
    transition: 0.3s;
  }
}

// @keyframes move {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }

// rock
.rock-wrap {
  text-align: center;
  div {
    margin: 1em;
  }
}

.rock-box {
  display: flex;
  justify-content: center;
  height: 25em;
}

.show-play {
  border: 3px solid $box-border;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    width: 50%;
  }
}

.tie {
  border: 3px solid black;
}

.win {
  border: 3px solid red;
}

.play-btn {
  button {
    border: 1px solid $box-border;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    margin: 0 1em;
    &:hover {
      background-color: $font-color;
      color: $bg-color;
    }
  }
}
